extends layout

block content
  h1= title
  p Making a #{title}.
  
  h2 Statistics
  
  table.table
    tr
      th Name
      th BMI
      th Old Weight
      th Weight Change
      th Current Weight
    tr
      td {{stats.name}}
      td {{stats.bmi}}
      td {{stats.oldWeight}}
      td {{stats.weightChange}}
      td {{stats.currentWeight}}
      
  h2 User
  
  form.form-group(ng-submit="addUser(user)")
    div.col-sm-6
      label Name
      input.form-control(ng-model="user.name")
      label Age
      input.form-control(ng-model="user.age")
      label Gender
      input.form-control(ng-model="user.gender")
    div.col-sm-6
      label Weight
      input.form-control(ng-model="user.weight")
      label Height
      input.form-control(ng-model="user.height")
      label Unit (in or cm)
      input.form-control(ng-model="user.unit")
    div
      button.btn.btn-default Save User
      
  h2 User Data
      
  table.table
    tr
      th Name
      th Age
      th Gender
      th Weight
      th Height
      th Unit
    tr
      td {{userDisplay.name}}
      td {{userDisplay.age}}
      td {{userDisplay.gender}}
      td {{userDisplay.weight}}
      td {{userDisplay.height}}
      td {{userDisplay.unit}}
      
  h2 Food    
      
  form(ng-submit="addFood(food)")
    .col-sm-12
      .form-group
        label Description
        input.form-control(name="desc" ng-model="food.description")
      .form-group
        label Meal
        input.form-control(name="meal" ng-model="food.meal")
      .form-group  
        label Calories
        input.form-control(name="calories" ng-model="food.calories")
      .form-group  
        label Servings
        input.form-control(name="servings" ng-model="food.servings")
      div
        button.btn.btn-default Save Food
      
        
  div
    h2 Food Log
      
  table.table
    tr
      th Edit
      th Delete
      th Description
      th Meal
      th Calories
      th Servings
      th Date
    tr(ng-repeat="f in foodArray")
      td 
        button(ng-click="editFood($index)") Edit
      td 
        button(ng-click="deleteFood($index)") Delete
      td(ng-hide="editing") {{f.description}}
      td(ng-hide="editing") {{f.meal}}
      td(ng-hide="editing") {{f.calories}}
      td(ng-hide="editing") {{f.servings}}
      td(ng-hide="editing") {{f.date}}
      
      td(ng-show="editing")
        input(ng-model="f.description")
      td(ng-show="editing")
        input(ng-model="f.meal")
      td(ng-show="editing")
        input(ng-model="f.calories")
      td(ng-show="editing")
        input(ng-model="f.servings")
      td(ng-show="editing")
        input(ng-model="f.date")
      
    
    
    

